{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Регистрация</h2>
    <form method="POST" action="{{ url_for('register') }}">
        <label class="label">Фамилия Имя:</label>
        <input type="text" name="name" required>

        <label class="label">Учебная группа:</label>
        <input type="text" name="study_group" required>

        <label class="label">Телеграм или ВК для связи:</label>
        <input type="text" name="telegram" required>

        <label class="label">Имя пользователя:</label>
        <input type="text" name="username" required>


        <label class="label">Пароль:</label>
        <input type="password" name="password" required>

        <button type="submit" class="btn">Зарегистрироваться</button>
    </form>
    <p>Уже есть аккаунт? <a href="{{ url_for('login') }}">Войти</a></p>
</div>

<style>
    p {
        margin: 0px;
    }
    .form-container {
        width: 350px;
        margin: 40px auto;
        padding: 20px;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 50px;
        text-align: center;
        
    }
    input {
        width: calc(100% - 20px);
        padding: 10px;
        margin-top: 8px;
        margin-bottom: 14px;
        border: 1px solid #ccc;
        border-radius: 50px;
        box-sizing: border-box; /* Включает padding и border в расчет общей ширины */
    }
    h2 {
        line-height: 1.1; /* Уменьшаем межстрочный интервал */
        margin-top: 0px;
        font-size: 32px;
        font-weight: bold;
        color: #0D60AE;
    }
    .label {
        font-size: 16px;
        color: #333;
        font-weight: bold;
        display: block;
        margin: 0 10px;
        text-align: left; /* Прижимаем текст к левому краю */
    }

    .btn {
        background-color: #0D60AE;
        color: white;
        border: none;
        padding: 12px 24px;
        font-size: 16px;
        margin: 10px;
        border-radius: 50px;
        cursor: pointer;
    }
    .btn:hover {
        background-color: #083a99;
    }

    a:visited {
        color: #0D60AE;
    }
    a:hover {
        color: #083a99;
    }
</style>
{% endblock %}
